.listing-container{
    margin-top: 30px;
}

.h2-list-head{
    text-align: center;
}

.hotel-card-container{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-wrap: wrap;
}

.hotel-card{
    border: 1px solid rgba(128, 128, 128, 0.2);
    width: 350px;
    height: fit-content;
    margin: 20px 0;
    background: rgba(128, 128, 128, 0.12);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.hotel-card-info{
    padding: 10px 30px
}

.hotel-book-container{
    background-color: black;
    padding: 10px 30px;
    border-radius: 8px;
    text-align: end;
}

.hotel-book-container button{
    border: none;
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.604);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.hotel-book-container button:hover{
    background-color: rgba(255, 0, 0, 0.778);

}


.book-modal-container{
    position: absolute;
    margin-top: 15%;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 10px;
    margin-left: 25%;
    z-index: 99;
    border-radius: 8px;
    width: 350px;
}

.close-modal-container{text-align: end;}

.close-modal-container h3{
    cursor: pointer;
}